@media all and (max-width:1200px) {

}

@media (max-width:768px) {
	/* menu - start */
	
	
	#menu {
		background-color: white;
		transition: all 0.3s;
		border:0px;
	}
	
	#menu ul.navbar-nav .menu-item a{
		color: #1ac056;
	}

	#menu ul.navbar-nav .menu-item a:hover {
		color:#291f1a;
	}

	/* menu - koniec */

	
	/* kontakt i formularz - start */
	#kontakt, #kontakt h2 {
		text-align: center;
	}
	
	#kontakt #ikonki-linki {
		margin-bottom:50px;
	}
	/* kontakt i formularz - koniec */
}

@media (max-width:680px) {
	/*  header */
	
	#header-content {
		font-size: 1.2em;
	}
	/* header - koniec */
}

@media (max-width:480px)  {
	section {
    padding: 15px 30px;
}
}