/* General styles*/
* {
    box-sizing: border-box;
}

body {
     margin:0;
     font-family: 'Lato', sans-serif;
}

span {
   color: #1ac056; 
}

section {
    padding: 30px 60px;
}

.kolumny {
    width: 50%;
    float:left;
}

h2{
    text-align: center;
}
/* Main menu styles - rozpoczecie */
#menu {
    font-family: 'Roboto', sans-serif;
    width:100%;
    background-color:white;
    position:fixed;
    z-index: 10;
}
#menu > ul {
    text-align: right;
}

#menu #drop, #menu .toggle {
	display:none;
}

.menu-item {
    display:inline-block;
    padding: 10px 30px; 
}

.menu-item > a{
    color: #1ac056;
    text-decoration: none;
    font-weight: 700;
}

.menu-item > a:hover {
    color:#291f1a;
}

/* Main menu styles - zakonczenie */

/* Nagłówek - rozpoczęcie */
#header {
    background-image: url(../img/header-background.jpg);
    position:relative;
    background-size: cover;
    background-position: center;
    height:100vh;
    font-family: 'Lato', sans-serif;
}

#header-content {
    color:white;
    font-size: 30px;
    text-align: center;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    margin:auto;
}


/* Nagłówek - zakończenie */

/* O mnie styles */

#about {
   background-color:#f9fcfe;
   font-family: 'Lato', sans-serif;
   font-weight:300;
   overflow: auto;
   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#about figure {
    margin:0;
    text-align: center;
}

#about img{
    width:100%;
    max-width: 300px;
    border: 20px solid #fff;
    border-radius:10px;
}

/* o mnie - zakończenie */

/* Umiejętności */

#skills > p {
    text-align: center;
}

#ikony {
    text-align: center;
}

#skills figure {
    display:inline-block;
}

#skills  img {
    margin-bottom: 10px;
}

/* Umiejętności - zakończenie */

/* Portfolio */
#portfolio-items {
    font-size: 0;
}
#portfolio .portfolio-item {
    height: 300px;
    width: 33.33%;
    display: inline-block;
    position:relative;
	background-size:cover;
	background-position: center;
}
#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}
#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}
#portfolio-item-3 {
    background-image: url(../img/portfolio4.jpg);
}

.portfolio-item-mask {
    background-color:rgba(33, 59, 80, 0.8);
    position:absolute;
	width:100%;
	height: 100%;
	opacity:0;
	transition: all 0.3s;
}

.portfolio-item-mask:hover {
  opacity:1;
}

.portfolio-item-content {
	border: 1px white solid;
	position: absolute;
	width: 95%;
	height: 95%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

.portfolio-item-content-inner {
	color:white;
	font-size: 16px;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding; 15px;
	
}

/* Portfolio - zakończenie */

/* Kontakt i formularz */

#kontakt {
	background-color: rgb(33, 59, 80);
	color:white;
	overflow: auto;
}

#kontakt h2 {
	text-align: left;
}

#kontakt #email-example {
	color: #1ac056;
}


#ikonki-linki a {
	color:white;
	display: inline-block;
	border: 1px white solid;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.4em;
	margin-right: 20px;
	margin-top: 40px;	
	transition: all 0.3s;
}

#ikonki-linki a:hover {
	color:rgb(33, 59, 80);
	background-color:white;
}

#kontakt > .kolumny > input, textarea {
	background-color:#4e708c;
	border: 1px solid #4e708c;
	width:100%;
	padding: 15px;
	margin-bottom: 10px;
}

#kontakt > .kolumny > #przycisk {
    background-color:#1ac056;
	border:#1ac056 1px solid;
    color:white;
    height: 50px;
    width: auto;
	text-transform:uppercase;
	float: right;
}

#kontakt > .kolumny > #przycisk:hover {
	background-color: white;
	color:#1ac056;
	cursor: pointer;
}

/* Kontakt i formularz - zakończenie */

/* Stopka */

footer {
	background-color:rgb(20, 36, 48);
	color: white;
	padding: 5px 60 px;
}

footer p {
	margin:0;
	padding: 5px 60px;
}

/* Stopka - koniec */